In [1]:
import pandas as pd
from knn import KNN, normalize_data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [2]:
df = pd.read_csv("../data/credit_approval.csv")
cat_columns = [col for col in df.columns if col.endswith("cat")]

In [5]:
cat_columns

['attr1_cat',
 'attr4_cat',
 'attr5_cat',
 'attr6_cat',
 'attr7_cat',
 'attr9_cat',
 'attr10_cat',
 'attr11_cat',
 'attr12_cat',
 'attr13_cat']

In [4]:
df.head()

,attr1_cat,attr2_num,attr3_num,attr4_cat,attr5_cat,attr6_cat,attr7_cat,attr8_num,attr9_cat,attr10_cat,attr11_cat,attr12_cat,attr13_cat,attr14_num,attr15_num,label
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43,560,1
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,280,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120,0,1

In [17]:
transformer = make_column_transformer((OneHotEncoder(sparse_output=False), cat_columns), remainder="passthrough")
transformed_df = transformer.fit_transform(df)

In [19]:
transformed_df = pd.DataFrame(transformed_df, columns=transformer.get_feature_names_out())

In [11]:
transformed_df.head()

   onehotencoder__attr1_cat_a  ...  remainder__label
0                         0.0  ...               1.0
1                         1.0  ...               1.0
2                         1.0  ...               1.0
3                         0.0  ...               1.0
4                         0.0  ...               1.0

[5 rows x 47 columns]